/* Nunito - Font */

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-ExtraLight.ttf" );
    font-weight: 200;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-Light.ttf" );
    font-weight: 300;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-Regular.ttf" );
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-Medium.ttf" );
    font-weight: 500;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-SemiBold.ttf" );
    font-weight: 600;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-Bold.ttf" );
    font-weight: 700;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-ExtraBold.ttf" );
    font-weight: 800;
}

@font-face {
    font-family: Nunito;
    src: url( "/Font/Nunito/Nunito-Black.ttf" );
    font-weight: 900;
}